@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
color: #243e63;

} 
html {
    scroll-behavior: smooth;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
nav {
    height: 80px;
    display: flex;
}
img {
   width: 100%;
   height: 100%;
   max-height: 50vh;
   padding: 20px;

}
p {
    line-height: 1.5;

}

a {
  text-decoration: none;  
}

a:hover {
    text-decoration: underline;

}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.purple {
  color: #591dd2;
}

.logo {
    width: 160px;
}

ul {
    display: flex;


}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #243e63;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;

}

.nav__link--primary {
border: 2px solid #7342d6;
border-radius: 50px;



}
.nav__link--primary:hover {
   text-decoration: none; 
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;  
  border: none;
  color: #4b12bd;
  display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
   right: 0;
   bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;

}

.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__list {
    padding: 32px 0;

}
.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    font-size: 40px;
color: white;

}

.btn__menu--close {
    postition: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;


}
/*
LANDING
*/


#landing {
    background: white;
}
header {
   height: calc(100vh - 80px);

}
.header__container {
    
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
     padding-top: 24px;

}
.header__description {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.header__img {
    padding: 60px;
    display: flex;
}   
    

h1 {
    font-size: 56px;
    color: #242424;
    margin-bottom: 24px;
    text-align: center;
    
}
h2 {
   
   font-size: 32px;
   margin-bottom: 32px;
   text-align: center;
   color: #243e63;
   font-weight: 400;
   
   
}

button {
    cursor: pointer;

}
button:active {
    transform: translateY(1px);
}
.btn {
    background-color: #591dd2;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;

}
.header__img {
    max-width: 512px;
    padding: 2px;
}
.header__img--wrapper {
 max-width: 500px;
 

}
.header__description--para {
    font-size: 24px;
    
}
.header__email--btn {


}
.header__customers--title {
    
}
.container {
padding: 56px 0;

}
.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;


}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*

FEATURES
*/

.services {
    display: flex;
    flex-wrap: wrap;
}
.service {
    width: 25%;
    padding: 24px;
}
.service__img {
    max-height: 100px;
   
 }
.service__img--wrapper {
   margin-bottom: 8px;
   border-radius: 4px;
    overflow: hidden;
    display: flex;
}



.service__title {
    font-size: 20px;
    margin-bottom: 8px;
    
}
.service__title:hover {
    text-decoration: underline;
    cursor: not-allowed;

}
