@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family:  'Inter', system-ui;
color: #243e63;

}
body {
    max-width: 100vw;
    
}
.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;

}
.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}
section {
    padding: 0 32px;
}
main {
    margin-bottom: 96px;
}
p {
    line-height: 1.5;
    font-size: 18px;

}
h1 {
    font-size: 48px;
    color: #1a202c;
    margin-bottom: 16px;
    font-weight: 700;

    
}
h2 {
   
   font-size: 32px;
   margin-bottom: 32px;
   text-align: center;
   color: #243e63;
   font-weight: 700;
      }
 h3 {
    font-size: 32px;
    color: #243e63;

 }     


.subheader {
    font-size: 24px;
    margin: 16px 0 24px 0;
}
button {
    display: flex;
    background-color: #6e4dd9;
    color: white;
    border: none;
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}





li {
    list-style-type: none;
}


.container {
    max-height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}



/* 

NAVBAR ↓

*/
.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;    
    }

.nav__container {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: flex-end;
    margin: 0 auto;
    
}
.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}
.logo__title {
    font-size: 24px;
    color: #243e63;
    font-weight: 700;
    text-decoration: none;
}
.company {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;  
    
}
.logo {
    width: 40px;
    height: 40px;
    gap: 10px;

}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}
.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}
.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}
.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}
.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}
.btn__get--started {
    border-radius: 500px;
    width: 140px;
    height: 35px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    
    
}

.nav__links {
    display: flex;
    justify-content: flex-end;
       
}
.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color: #243e63;
    font-weight: bold;
    padding: 8px;
    
}
.nav__link--primary {
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link:hover {
    text-decoration: underline;
}

/* 

HEADER / ABOUT US ↓

*/

.landing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 75px;
    margin: 0 auto;
    
}
.row__landing--main {
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: 0 auto;
}
.landing__left--text {
    display: flex;
    flex-direction: column;
    width: 40%;
   
    
   
}
.landing__para {
    color: #7c8ba1;
    font-size: 18px;
    margin: 32px 0;
    text-align: left;
    line-height: 1.5;
}
.input--wrapper {
    max-width: 40%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    padding: 20px 162px 20px 32px;
    width: 100%;
    border-radius: 99px;
    border-width: 2px;
    font-weight: 500;
}


    

.customer__wrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;

    
}


.email__input {
  
    font-size: 24px;
    
}
.first {
    margin-left: 60px;
}

.right__img {
    display: flex;
    flex-direction: row;
    margin-left: 75px;
    width: 60%
        
}
.customer__strip {
    width: 100%;
}





/* 

FEATURES ↓

*/

#features__work {
    padding: 80px 0;
}      

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.5;
}

.feature__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section__title {
    display: flex;
    justify-content: center;
    


}
.features {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   

}
.feature__intro {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.features__wrapper {
display: flex;
flex-wrap: wrap;
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
.feature {
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    width: calc(100% / 3);
    
}

.feature__img {
    width: 24px;
    height: 24px;
       
 }
 .image__wrapper {
    display: flex;
    padding: 20px;
     border-radius: 500px;
    border: 1px solid #e5e7eb;  

 }
 
.feature__img--wrapper {
    
   margin-bottom: 8px;
   border-radius: 4px;
    overflow: hidden;
    display: flex;
    
}

.feature__title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    
    
    
}
.feature__para {
    font-weight: 500;
    text-align: center;
    max-width: calc(634px / 3);
    color: #7c8ba1;
    
    font-size: 16px;
    
}
.feature__title:hover {
    text-decoration: underline;
    cursor: not-allowed;

}






/*
quality
*/

#quality__work {
    display: flex;
    
}      
.row__quality {
    display: flex;
    flex-wrap: wrap;

    padding-top: 24px;
}

.quality__container {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 100%;
    max-width: 1200px;
    padding-top: 24px;
    gap: 750px;
    margin: 0 auto;
}

.quality {
    display: flex;
    align-items: flex-end;
    width: 500px;
    border: 1px solid black;
    margin-bottom: 32px;
    
}
.quality__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
  
    

    }
    .quality__para {
        font-size:18px;
        color: #7c8ba1;
        
    }
.btn {
    padding-top: 24px;
    font-size: 24px;
    
}
 
.img__quality--wrapper {
    display: flex;
   flex-direction: row;
   align-items: flex-end;
   width: 60%;
   gap: 32px;
padding: 0 50px 0 50px;
         
}
.img {
   z-index: 1;
}



/* 

STEPS ↓

*/

#steps .row {
    display: flex;
    
}

.container__steps {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
padding: 100px 0 100px 0;
    
    
}
.row__steps {
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.img__steps--wrapper {
    display: flex;
    align-items: center;
   max-width: 50%;
   padding-bottom: 24px;
}
.steps__img {
   width: 100%;    

}
.step__title {
    
    align-items: start;
    font-size: 30px;
       color: #243e63;
  
} 
.step__description {
    display: flex;   
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    max-width: calc(100% / 2);
   padding-left: 100px;
   font: 600;

    
} 
.step__para {
   font-weight: 600;
    text-align: start;
   color: #7c8ba1;
}

.easy__steps--wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   
}  
.grey {
    color: #9f9c9c;
    
} 




/* 

VALUES ↓

*/
#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.row__values {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


}  
   

.value__container {
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.value {
    display: flex;
    justify-content: flex-end;
    height: 600px;
   
}
.value__section--title {
  
    font-size: 48px;
    font-weight: 900;
}
.fa-dollar-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 20px;
    border-radius: 50px;
    background-color: lightgreen;
    border: 1px solid white;  
        
}
.fa-suitcase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 20px;
    border-radius: 50px;
    background-color: lightcoral;
    border: 1px solid white;  

}
.values {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;

    }
    .affordable__txt {
        font-size: 20px;
        font-weight: bold;
        color: #243e63;
        padding: 18px 0 18px 0;
    }
   
    .value__para {
        font-size:16px;
        font-weight: 500;
        color: #718096;
        padding-bottom: 16px;
    }
 
.value__text {
    font-weight: 400;
    max-width: 30%;
}

.btn {
    padding-top: 24px;
    font-size: 18px;
    
}
 
.img__value--wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
   align-items: center;
   width: calc(60% / 2);
     padding-bottom: 40px;
  
       
}
.value__img--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
     gap: 32px;
}

.fa-suitcase {
    border: ;
}


/*

PRICING ↓

*/

.plan__container {
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding-top: 24px;
    margin: 0 auto;
    
}
.row__plan {

     display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    padding-top: 24px;
   
    
}
.plan {
     display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
  

}
.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
    
    
}


.price__para {
    font-size: 18px;
    color: #7c8ba1;
}
.plan__wrapper {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
max-width: 1200px;

}

.plan__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    
}
.plan__name {
    font-size: 30px;
    font-weight: bold;
    
}
.plan__price {
    font-size: 48px;
    color: black;
    font-weight: bold;
}
.plan__time {
    font-size: 24px;
    color: #7c8ba1;
    font-weight: 700;
    padding-bottom: 18px;
}

.plan__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan__types {

    font-size: 20px;
    font-weight: 700;
}
.plan__type {
    font-size: 16px;
    padding: 12px 6px 12px 0;
}
.business {
    background-color: #6415ff;
}

.btn__small {
    background-color: turquoise;
}
.btn__today {
    background-color: white;
    color: #7342d6;
    border: black solid 1px;
    font-weight: bold;
}
.btn__tomorrow {
    background-color: lightcoral;
}

/* 

TESTIMONIALS ↓

*/


.testimonial__container {
     display: flex;
     flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 24px;
    
}
.testimonial .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.img__testimonial--wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    max-width: 1200px;
    padding-bottom: 24px;
    
    
}
.love__us {
    width: 40%;
    height: 60%;
    margin: 24px 0 24px 0
}

.testimonial__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 60%;
    max-width: 1200px;
    padding-top: 24px;
}
.testimonial__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;   

}
.testimonial__title--wrapper {
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    width: 100%;
    max-width: 40%;
    align-items: start;
    font-size: 24px;
    gap: 24px;
    color: #243e63;
  
} 
.testimonial__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 
.testimonial__details {
    display: flex;
flex-direction: column;
    gap: 15px;
}
.testimonial__description {
    display: flex;   
    flex-direction: column;
    align-items: flex-start;
    padding-left: 64px;
       
} 

.testimonial__para {
   font-weight: 500;
   font-size: 16px;
    text-align: start;
   padding-top: 16px;
   padding-bottom: 16px;
   color: rgb(74 85 104);
 
}  


.testimonial__ratings {
 
  padding-bottom: 16px;
 
}
.fa-star {
    color: gold;
    padding-bottom: 16px;
}
.testimonial__name {
font-size: 24px;
font-weight: 600;
color: #4a5568;



}
.testimonial__role {
    font-size: 18px;
    color: #7c8ba1;

}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
   display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.start__container {
    padding: 96px;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call__to__action--container {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    padding-top: 24px;
}


.call__to__action--text {
    display: flex;
    flex-direction: row;
   justify-content: center;
   
   
  
}
.logo__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
    font-weight: 500;
}
.call__to__action--btns {
    display: flex;
    flex-direction: row;
    gap: 16px;

}
.started {
    background-color: coral;
}
.contact__us {
    background-color: rgb(100, 21, 255);
   border: 1px solid white;


}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    

}
.contact--wrapper {
    display: flex;
    justify-content: space-evenly;


    margin: 0 auto;
    

}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;

}
.type__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: white;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 16px
}
.type__product {
display: flex;
flex-direction: column;
align-items: center;
font-size: 12px;
color: white;
}
.press {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 16px;
}
.type__press {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: white;
}
.team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 16px;
}
.type__team {
   display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;  
    color: white;
}
.legal {
  display: flex;
  flex-direction: column;
    align-items: flex-start;  
    color: white;
    gap: 16px;
}
.type__legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;  
    color: white;
}
.company__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.company__info--title {
    display: flex;
    justify-content: center;
}
.company__logo {
height: 32px;
width: 32px;
}
.company__img {
    color: white;
    font-size: 20px;
    font-weight: 900;
    align-items: center;
}
.copyrite {
    color: white;
}
.media {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;

}
 .fa-facebook {
    color: white;
 }
 .fa-twitter {
    color: white;

 }
 .fa-youtube {
    color: white;
 }


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}
@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}




