@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family:  'Inter', system-ui;
color: #243e63;

}
body {
    max-width: 100vw;
    
}
.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;

}
.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}
section {
    padding: 0 32px;
}
main {
    margin-bottom: 96px;
}
p {
    line-height: 1.5;
    font-size: 18px;

}
h1 {
    font-size: 48px;
    color: #1a202c;
    margin-bottom: 16px;
    font-weight: 700;

    
}
h2 {
   
   font-size: 32px;
   margin-bottom: 32px;
   text-align: center;
   color: #243e63;
   font-weight: 700;
      }
 h3 {
    font-size: 32px;
    color: #243e63;

 }     


.subheader {
    font-size: 24px;
    margin: 16px 0 24px 0;
}
button {
    display: flex;
    background-color: #6e4dd9;
    color: white;
    border: none;
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}





li {
    list-style-type: none;
}


.container {
    max-height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}



/* 

NAVBAR ↓

*/
.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0 80px 0; 
    }

.nav__container {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: flex-end;
    margin: 0 auto;
    
}
.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}
.logo__title {
    font-size: 24px;
    color: #243e63;
    font-weight: 700;
    text-decoration: none;
}
.company {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;  
    
}
.logo {
    width: 40px;
    height: 40px;
    gap: 10px;

}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}
.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}
.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}
.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}
.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}
.btn__get--started {
    border-radius: 500px;
    width: 140px;
    height: 35px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    
    
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 550px;
    
       
}
.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color: #243e63;
    font-weight: bold;
    padding: 8px;
    
}
.nav__link--primary {
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: 100px;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
}

.nav__link:hover {
    text-decoration: underline;
}

/* 

HEADER / ABOUT US ↓

*/

.landing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 75px;
    margin: 0 auto;
    
}
.row__landing--main {
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: 0 auto;
}
.landing__left--text {
    display: flex;
    flex-direction: column;
    width: 40%;
    
   
    
   
}
.landing__para {
    color: #7c8ba1;
    font-size: 18px;
    margin: 32px 0;
    text-align: left;
    line-height: 1.5;
}
.input--wrapper {
   width: 100%;
   max-width: 448px;
   height: 68px;
   position: relative;
   z-index: 2;
   display: block; 
      
}

.email__input {
    padding: 20px 180px 20px 32px;
    width: 25%;
    border: #a0aec0 solid .5px;
    border-radius: 500px;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    
}


.input__wrapper .wrapper__btn {
    background-color: #6415ff;
    margin: 12px;
    height: 42px;
   border-radius: 500px;
    width: 140px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    z-index: 10;
    position: relative;
    right: 8px;
    top: 50%;
    transform: translateX(300px);
    justify-content: center;
    
}

    

.customer__wrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
   

    
}
.customer {
     color: #a0aec0;
      font-weight: 700;
     font-size: 12px;
}


.first {
    margin-left: 60px;
}

.right__img {
    display: flex;
    flex-direction: row;
    margin-left: 75px;
    height: 550px;
    width: 550px;
        
}
.customer__strip {
    width: 80%;
     color: #a0aec0;
}





/* 

FEATURES ↓

*/

#features__work {
    text-align: center;
    max-width: 576px;
   

    
}      
.feature__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
}
.row__narrow {
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__para {
    display: flex;
    justify-content: center;
    align-items: center;
       font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.5;
    max-width: 576px;
}

.feature__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section__title {
    display: flex;
    justify-content: center;
   letter-spacing: 1.6px;
    margin-bottom: 25px;
   }


.features {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   

}
.feature__intro {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 900;
}
.features__wrapper {
display: flex;
flex-wrap: wrap;
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
.feature {
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    width: calc(100% / 3);
    
}

.feature__img {
    width: 24px;
    height: 24px;
       
 }
 .image__wrapper {
    display: flex;
    padding: 20px;
     border-radius: 500px;
    border: 1px solid #e5e7eb;  

 }
 
.feature__img--wrapper {
    
   margin-bottom: 8px;
   border-radius: 4px;
    overflow: hidden;
    display: flex;
    
}

.feature__title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    
    
    
}
.feature__para {
    font-weight: 500;
    text-align: center;
    max-width: calc(634px / 3);
    color: #7c8ba1;
    
    font-size: 16px;
    
}
.feature__title:hover {
    text-decoration: underline;
    cursor: not-allowed;

}






/*
quality
*/

#quality__work {
    display: flex;
    padding: 96 0;
    
}      
.quality__container {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 100%;
    max-width: 1200px;
    padding-top: 64px;
    margin: 0 auto;
}
.row__quality {
    display: flex;
    flex-wrap: wrap;

    padding-top: 24px;
}


.quality {
    display: flex;
    align-items: flex-end;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 32px;
    
}
.quality__text {
    width: 30%;  
    margin-right: 64px;

    }
     .quality__info {
    
    font-size: 48px;
    font-weight: 900;
    margin-right: 31px;

     }
     .quality__stuff {
        letter-spacing: 1.6px;
    margin-bottom: 25px;
     }
    .quality__para {
        font-size:18px;
        color: #7c8ba1;
        margin-bottom: 32px;
        
    }
.btn {
    padding-top: 24px;
    font-size: 24px;
    background-color: #6415ff;
    
}
 
.img__quality--wrapper {
    display: flex;
   flex-direction: row;
   align-items: flex-end;
   width: 60%;
   gap: 32px;
padding: 0 50px 0 50px;
         
}
.img {
   z-index: 1;
}
.quality__grid {
    transform: translateX(50%); translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255)
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;


}



/* 

STEPS ↓

*/

#steps .row {
    display: flex;
    
}

.container__steps {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
padding: 100px 0 100px 0;
    
    
}
.steps__info {
    letter-spacing: 1.6px;
    margin-bottom: 25px;
}
.row__steps {
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.easy__info {
    text-align: left;
     font-size: 48px;
    font-weight: 900;
    ;
}
.img__steps--wrapper {
    display: flex;
    align-items: center;
   max-width: 50%;
   padding-bottom: 24px;
   
}
.steps__img {
   width: 100%; 
      

}


.step__action {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
    line-height: 1;
}
.step__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;
   padding-left: 105px;
   padding: 32 0;

} 
.step__description {
    display: flex;
    flex-direction: column;
}

.step__para {
    
    font-size: 14px;
   font-weight: 500;
   margin-top: 12px;
   line-height: 2;
   color: #718096;
}

.easy__steps--wrapper {
 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 25px;
    font-size: 30px;
    color: #243e63;
    
   
}  
.number {
    margin-left: -75px;
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    
    
}


/* 

VALUES ↓

*/
#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.row__values {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


}  
   

.value__container {
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.value {
    display: flex;
    justify-content: flex-end;
    width: 175%;
   
}
.value__section--title {
  
    font-size: 48px;
    font-weight: 900;
    margin-right: 150px;
    
    
}
.fa-dollar-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 20px;
    border-radius: 50px;
    background-color: lightgreen;
    border: 1px solid white;  
        
}
.fa-suitcase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 20px;
    border-radius: 50px;
    background-color: lightcoral;
    border: 1px solid white;  

}
.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;

    }
    .affordable__txt {
        font-size: 20px;
        font-weight: bold;
        color: #243e63;
        padding: 18px 0 18px 0;
    }
   .value__info {
    letter-spacing: 1.6px;
    margin-bottom: 25px;
   margin-left: -500px;
   }

    .value__para {
        font-size:16px;
        font-weight: 500;
        color: #718096;
        padding-bottom: 16px;
    }
 
.value__text {
    font-weight: 400;
    max-width: 40%;
    
}

.btn {
    
    width: 150px;
    padding-top: 12px;
    font-size: 18px;
    margin-top: 50px;
    
}
 
.img__value--wrapper {
    display: flex;
    flex-direction: row
   align-items: center;
   width: calc(60% / 2);
   padding-bottom: 40px;
   

}
.value__img--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
     gap: 32px;
}




/*

PRICING ↓

*/

.plan__container {
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding-top: 24px;
    margin: 0 auto;
    
}
.row__plan {

     display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    padding-top: 24px;
   
    
}
.reasonable__info {
     font-size: 48px;
    font-weight: 900;
}
.plan {
     display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
  

}
.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 25px 25px 25px;
    
    
    
}
.pricing {
    margin-bottom: 25px;
    letter-spacing: 1.6px;
}

.price__para {
    text-align: center;
    max-width: 550px;
    font-size: 18px;
    color: #7c8ba1;
}
.plan__wrapper {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
max-width: 1200px;

}


.plan__top1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 08px;
    border: .5px solid turquoise;
    background-color: turquoise;
    border-radius: 10px;
   
    
    

   
}
.plan__top3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 08px;
    border: .5px solid #f56565;
    background-color: #f56565;
     border-radius: 10px;
   
}

.plan__name {
    font-size: 30px;
    font-weight: bold;
    
}
.plan__price {
    font-size: 48px;
    color: black;
    font-weight: bold;
}
.plan__time {
    font-size: 24px;
    color: #7c8ba1;
    font-weight: 700;
    padding-bottom: 18px;
}

.plan__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.plan__types {

    font-size: 20px;
    font-weight: 700;
}
.plan__type {
    font-size: 16px;
    padding: 12px 6px 12px 0;
}

.btn__small {
    background-color: turquoise;
}
.btn__today {
    background-color: white;
    color: #7342d6;
    border: white solid 1px;
    font-weight: bold;
}
.btn__tomorrow {
    background-color: #f56565;
    
}
.plans__top2 {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;    
    max-width:  1200px;
    margin: 0 auto;
    border: .5px solid black;
    border-radius: 10px;
    background-color: #6415ff;
   

   
    
   
}
.plan__name2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    

}
.plan__price2 {
    font-size: 48px;
    color: white;
    font-weight: bold;

}
.plan__time2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 18px;
    color: white;
}
.plan__types2 {
     font-weight: 700;
    color: white;
}
.plan__type2 {
    font-size: 16px;
    padding: 12px 6px 12px 0;
    color: white;
}
.plan__middle2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lightgrey {
    color: #7c8ba1;
}

/* 

TESTIMONIALS ↓

*/


.testimonial__container {
     display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    
}
.testimonial .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.clients {
      font-size: 48px;
    font-weight: 900;
}

.testimonial__info {
    
    letter-spacing: 1.6px;
    margin-bottom: 25px;
    
}
.img__testimonial--wrapper {
     
    max-width: 100%;
    max-width: 1200px;
    padding-bottom: 24px;
    
    
}
.love__us {
    width: 80%;
    height: 60%;
    
}

.testimonial__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    padding-top: 24px;
}
.testimonial__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;   

}
.testimonial__title--wrapper {
    display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
    width: 100%;
    max-width: 45%;
  
} 

.testimonial__details {
    display: flex;
flex-direction: column;

    
}
.testimonial__description {
    display: flex;   
    flex-direction: column;
    align-items: flex-start;
    padding-left: 64px;
       
} 

.testimonial__para {
   font-weight: 500;
   font-size: 16px;
    text-align: start;
   padding-top: 16px;
   padding-bottom: 16px;
   color: #7c8ba1
 
}  


.testimonial__ratings {
 
  padding-bottom: 16px;
 
}
.fa-star {
    color: rgba(246, 173, 85);
    padding-bottom: 16px;
}
.testimonial__name {
font-size: 24px;
font-weight: 600;
color: #4a5568;



}
.testimonial__role {
    
    font-size: 18px;
    color: #7c8ba1;

}
.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    
  

}
.fa-arrow-left {
     display: flex;
    justify-content: center;
    align-items: center;
    color: #6415ff;
    height: 25px;
    width: 25px;
    padding: 20px;
    border-radius: 50px;
    background-color: #cbd5e0;
    border: 1px solid white;
}
.fa-arrow-right {
       display: flex;
    justify-content: center;
    align-items: center;
    color: #6415ff;
    height: 25px;
    width: 25px;
    padding: 20px;
    border-radius: 50px;
    background-color: #cbd5e0;
    border: 1px solid white;
}
.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #e5e7eb;
    height: 20px;
}





/* 

START / CALL TO ACTION ↓

*/



#start .row {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.start__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    margin-left: 300px;
    
}
.call__to__action--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    padding-top: 24px;
}


.call__to__action--text {
    display: flex;
    flex-direction: row;
   justify-content: center;
   
   
  
}
.logo__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
    font-weight: 500;
}
.call__to__action--btns {
    display: flex;
    flex-direction: row;
    gap: 16px;

}
.started {
    background-color: #f56565;
    width: 150px;
    align-items: center;
    justify-content: center;
}
.contact__us {
    background-color: rgb(100, 21, 255);
   border: 1px solid white;
   width: 150px;
   align-items: center;
   justify-content: center;

}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    

}
.contact--wrapper {
    display: flex;
    justify-content: space-evenly;


    margin: 0 auto;
    

}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;

}
.type__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: white;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 16px
}
.type__product {
display: flex;
flex-direction: column;
align-items: center;
font-size: 12px;
color: white;
}
.press {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 16px;
}
.type__press {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: white;
}
.team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 16px;
}
.type__team {
   display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;  
    color: white;
}
.legal {
  display: flex;
  flex-direction: column;
    align-items: flex-start;  
    color: white;
    gap: 16px;
}
.type__legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;  
    color: white;
}
.company__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}
.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background-color: rgb(116, 44, 255);
}
.company__info--title {
    display: flex;
    justify-content: center;
}
.company__logo {
height: 32px;
width: 32px;
}
.company__img {
    color: white;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
}
.copyrite {
    color: white;
}
.media {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    gap: 10px;

}
 .fa-facebook-f {
     display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    color: #4a5568;
    
 }
 .fa-twitter {
     display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    color: #4a5568;

 }
 .fa-youtube {
     display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    color: #4a5568;
 }


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}
@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}




