@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Inter", system-ui;
color: #243e63;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;

}
.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.container {
    padding: 96px 0;
}
.purple {
    color: #6415ff;
}
section {
    padding: 0 32px;
}
main {
    margin-bottom: 96px;
}
p {
    line-height: 1.5;

}
h1 {
    font-size: 40px;
    color: #242424;
    margin-bottom: 16px;

    
}
h2 {
   
   font-size: 24px;
   margin-bottom: 32px;
   text-align: center;
   color: #243e63;
   font-weight: 700;
      }


.subheader {
    font-size: 24px;
    margin: 16px 0 24px 0;
}
button {
    background-color: #7342d6;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}



ul {
    display: flex;
}

li {
    list-style-type: none;
}




/* 

NAVBAR ↓

*/
nav {
    display: flex;
    padding-top: 32px;
}
.nav__row {
    display: flex;
    justify-content: space-between;
}
.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}
.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}
.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}
.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}
.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}
.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}
.nav__container {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.logo {
    width: 100px;
    height: 100px;

}
.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #243e63;
    font-weight: bold;
    padding: 8px;
    
}
.nav__link:hover {
    text-decoration: underline;
}

/* 

HEADER / ABOUT US ↓

*/

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 

FEATURES ↓

*/

#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    



.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
   

}
.features__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.feature {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    
}
.feature__description {
    display: flex;
    flex-direction: column;
}
.feature__img {
    border: 2px solid lightgray;
    max-height: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

   
 }
 
.feature__img--wrapper {
    
   margin-bottom: 8px;
   border-radius: 4px;
   
    display: flex;
    
}

.feature__title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    
    
    
}
.feature__para {
    text-align: center;
    font-weight: 400;
}

/* 

QUALITY WORK ↓

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

STEPS ↓

*/

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

VALUES ↓

*/


#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/

#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}
@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}



p {
    line-height: 1.5;

}
h1 {
    font-size: 40px;
    color: #242424;
    margin-bottom: 16px;

    
}
h2 {
   
   font-size: 24px;
   margin-bottom: 32px;
   text-align: center;
   color: #243e63;
   font-weight: 700;
      }


.subheader {
    font-size: 24px;
    margin: 16px 0 24px 0;
}
button {
    background-color: #7342d6;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;


}



ul {
    display: flex;
}

li {
    list-style-type: none;
}

.container {
    max-height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}








/*
WORK
*/

#quality__work {
    padding: 80px 0;
}      



.quality__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.qualities{
    display: flex;
    flex-wrap: wrap;
   

}
.quality {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    
}

.quality__img {
    border: 2px solid lightgray;
    max-height: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    

   
 }
 
.quality__img--wrapper {
    
   margin-bottom: 8px;
   border-radius: 4px;
    overflow: hidden;
    display: flex;
    
}

.quality__title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    
    
    
}
.quality__para {
    text-align: center;
}
.quality__title:hover {
    text-decoration: underline;
    cursor: not-allowed;

}


/*
GET STARTED
*/


#get__work {
    padding: 80px 0;
}      



.get__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.get{
    display: flex;
    flex-wrap: wrap;
   

}
.gets {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    
}

.get__img {
    border: 2px solid lightgray;
    max-height: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

   
 }
 
.get__img--wrapper {
    
   margin-bottom: 8px;
   border-radius: 4px;
    overflow: hidden;
    display: flex;
    
}

.get__title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    
    
    
}
.get__para {
    text-align: center;
}
.get__title:hover {
    text-decoration: underline;
    cursor: not-allowed;

}

/*
VALUES
*/


#value {
    padding: 80px 0;
    
}      



.value__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.value__description{
    display: flex;
    flex-wrap: wrap;
   

}
.value {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    
}
.value__description{
    display: flex;
    flex-direction: column;
}
.value__img {
    border: 2px solid lightgray;
    max-height: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

   
 }
 
.value__img--wrapper {
    
   margin-bottom: 8px;
   border-radius: 4px;
    overflow: hidden;
    display: flex;
    
}

.value__title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 400;
    
    
    
}
.value__para {
    text-align: center;
}
.value__title:hover {
    text-decoration: underline;
    cursor: not-allowed;

}


/*
PRICE
*/


#price {
    padding: 80px 0;
}      



.price__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.price__description{
    display: flex;
    flex-wrap: wrap;
   

}
.price {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    
}

.card {
    width: 320px;
    height: 180px;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid #ddd;
    border: 10px;
    box-sizing: border-box;
}

/*TEST
*/


/*
FOOTER
*/

