@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
color: #243e63;
}


.nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;

    
}
.nav__container {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: aqua;
}
.logo {
    width: 100px;
    height: 100px;

}
.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #243e63;
    font-weight: bold;
    padding: 8px;
    
}
.nav__link:hover {
    text-decoration: underline;
}
.nav__link--primary {
background-color: #7342d6;
color: white;
padding: 8px 16px;
border-radius: 50px;
cursor: pointer;}




a {
  color: #243e63;
  font-size: 24px;
  font-weight: bold;

}

header {
  background-color: #dad0e7;
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
img {
   width: 80%;
   height: 100%;
   max-height: 50vh;
   padding: 20px;

}

p {
    line-height: 1.5;

}
h1 {
    font-size: 40px;
    color: #242424;
    margin-bottom: 16px;

    
}
h2 {
   
   font-size: 24px;
   margin-bottom: 32px;
   text-align: center;
   color: #243e63;
   font-weight: 700;
      }


.subheader {
    font-size: 24px;
    margin: 16px 0 24px 0;
}
button {
    background-color: #7342d6;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;


}

.purple {
  color: #591dd2;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.container {
    max-height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;

}



/*
features
*/

#features {
    padding: 80px 0;
}      

#features .row {
    display: flex;
    flex-direction: column;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
   

}
.features__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.feature {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    
}
.feature__description {
    display: flex;
    flex-direction: column;
}
.feature__img {
    border: 2px solid lightgray;
    max-height: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

   
 }
 
.feature__img--wrapper {
    
   margin-bottom: 8px;
   border-radius: 4px;
   
    display: flex;
    
}

.feature__title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    
    
    
}
.feature__para {
    text-align: center;
    font-weight: 400;
}

.feature__title:hover {
    text-decoration: underline;
    cursor: not-allowed;

}

/*
WORK
*/

#quality__work {
    padding: 80px 0;
}      



.quality__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.qualities{
    display: flex;
    flex-wrap: wrap;
   

}
.quality {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    
}

.quality__img {
    border: 2px solid lightgray;
    max-height: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    

   
 }
 
.quality__img--wrapper {
    
   margin-bottom: 8px;
   border-radius: 4px;
    overflow: hidden;
    display: flex;
    
}

.quality__title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    
    
    
}
.quality__para {
    text-align: center;
}
.quality__title:hover {
    text-decoration: underline;
    cursor: not-allowed;

}


/*
GET STARTED
*/


#get__work {
    padding: 80px 0;
}      



.get__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.get{
    display: flex;
    flex-wrap: wrap;
   

}
.gets {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    
}

.get__img {
    border: 2px solid lightgray;
    max-height: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

   
 }
 
.get__img--wrapper {
    
   margin-bottom: 8px;
   border-radius: 4px;
    overflow: hidden;
    display: flex;
    
}

.get__title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    
    
    
}
.get__para {
    text-align: center;
}
.get__title:hover {
    text-decoration: underline;
    cursor: not-allowed;

}

/*
VALUES
*/


#value {
    padding: 80px 0;
    
}      



.value__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.value__description{
    display: flex;
    flex-wrap: wrap;
   

}
.value {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    
}
.value__description{
    display: flex;
    flex-direction: column;
}
.value__img {
    border: 2px solid lightgray;
    max-height: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

   
 }
 
.value__img--wrapper {
    
   margin-bottom: 8px;
   border-radius: 4px;
    overflow: hidden;
    display: flex;
    
}

.value__title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 400;
    
    
    
}
.value__para {
    text-align: center;
}
.value__title:hover {
    text-decoration: underline;
    cursor: not-allowed;

}


/*
PRICE
*/


#price {
    padding: 80px 0;
}      



.price__description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.price__description{
    display: flex;
    flex-wrap: wrap;
   

}
.price {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    
}

.card {
    width: 320px;
    height: 180px;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid #ddd;
    border: 10px;
    box-sizing: border-box;
}

/*TEST
*/


/*
FOOTER
*/

